@{ ViewData["Title"] = "Credits"; }
<h1>@ViewData["Credits"]</h1>

<div>
    <h5>Aves, Arnel Deo</h5>
    <span class="text-info">arnel.deo.aves@gmail.com</span><span>&nbsp;</span>
    <span class="text-info">aviancoder@gmail.com</span>
    <br />
    <span class="text-warning">+63 945 3097812</span>
</div>
