@{
    ViewData["Title"] = "Home Page";
}

<h5>Select a customer from the list to display list of files. It will invoke a Rest Api and results will be displayed on the next page.</h5>
<ul>
    <li><a class="nav-link" href="api/customerfiles/1001">Customer A</a></li>
    <li><a class="nav-link" href="api/customerfiles/2001">Customer B</a></li>
</ul>
